<div class="row">

  <div class="col-md-2">



    <ul class="nav nav-pills nav-stacked">

      <li class="active">
        <a href="#">
          <span class="badge pull-right"><%= @clients.length%></span>
          Все
        </a>
      </li>

    </ul>
    <button id="addTrigger" class="btn btn-default btn-sm" value="/clients/add" title="Добавить контрагента" type="submit" aria-label="">Добавить контрагента </button>

  </div>
  <div class="col-md-10">

    <div class="columned col-list">

      <?

                $a = '';
                $i=0;

            foreach ($clients as $client) {
                $i++;

                if ($a == mb_substr( $client->ClientName, 0, 1)) {
      echo '<div class="row"><div class="col-md-1">'.$i.' </div> <div class="col-md-10"> <a  href="/client/'.$client->ClientId.'" class="grey-list " id="222" href="#222#">'.$client->ClientName.'</a></div></div>';
      } else {

      $a = mb_substr( $client->ClientName, 0, 1);
      echo ' <p class="alpp"><span class="alp">'.$a.'</span></p>';

      echo '<div class="row"><div class="col-md-1">'.$i.' </div> <div class="col-md-10"> <a  href="/client/'.$client->ClientId.'" class="grey-list " id="222" href="#222#">'.$client->ClientName.'</a></div></div>';

      }






      //$a = mb_substr( $client->ClientName, 0, 1);







      }

      ?>
    </div>




  </div>
</div>