<div class="row">

  <div class="col-md-2">

    {{date("Y-m-d")}}

    <ul class="nav nav-pills nav-stacked">
      <li class="active">
        <a href="#">
          <span class="badge pull-right">{{count($call)}}</span>
          Все
        </a>
      </li>
      <li >
        <a href="#">
          <span class="badge pull-right">{{count($today)}}</span>
          Сегодня
        </a>
      </li>
      <li >
        <a href="#">
          <span class="badge pull-right">{{count($lastday)}}</span>
          Вчера
        </a>
      </li>
      <li><a href="#"></a></li>


    </ul></div>
  <div class="col-md-10">

    <h3>За сегодня</h3>
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Пользователь</th>
        <th>Тип</th>
        <th>Дата</th>
        <th>Время</th>

        <th>Контакт</th>

      </tr>
      </thead>
      <tbody>
      @foreach ($today as $t)
      <tr>
        <th>@if (isset($t->name)) {{$t->name}} @endif</th>
        <th class="@if (isset($t->callStatusColor)) {{$t->callStatusColor}} @endif">@if (isset($t->callStatusName)) {{$t->callStatusName}} @endif</th>
        <th> {{$t->CallDate}}</th>
        <th>{{$t->CallTime}} </th>

        <th> @if (isset($t->IDContact))
          <a href="/contact/{{$t->IDContact}}">{{ $t->FamilyContact.' '.$t->NameContact.' '.$t->SoNameContact}}</a>
          @elseif (isset($t->ClientName))
          <a href="/client/{{$t->ClientId}}"> {{$t->ClientName}}</a>


          @endif

      </tr>


      @endforeach

      </tbody>
    </table>
    <h3>За вчера</h3>
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Пользователь</th>
        <th>Тип</th>
        <th>Дата</th>
        <th>Время</th>

        <th>Контакт</th>

      </tr>
      </thead>
      <tbody>
      @foreach ($lastday as $t)
      <tr>
        <th>@if (isset($t->name)) {{$t->name}} @endif</th>
        <th class="@if (isset($t->callStatusColor)) {{$t->callStatusColor}} @endif">@if (isset($t->callStatusName)) {{$t->callStatusName}} @endif</th>
        <th> {{$t->CallDate}}</th>
        <th>{{$t->CallTime}} </th>

        <th> @if (isset($t->IDContact))
          <a href="/contact/{{$t->IDContact}}">{{ $t->FamilyContact.' '.$t->NameContact.' '.$t->SoNameContact}}</a>
          @elseif (isset($t->ClientName))
          <a href="/client/{{$t->ClientId}}"> {{$t->ClientName}}</a>


          @endif

      </tr>


      @endforeach

      </tbody>
    </table>
    <h3>Все</h3>

    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Пользователь</th>
        <th>Тип</th>
        <th>Дата</th>
        <th>Время</th>

        <th>Контакт</th>

      </tr>
      </thead>
      <tbody>
      @foreach ($call as $t)
      <tr>
        <th>@if (isset($t->name)) {{$t->name}} @endif</th>
        <th class="@if (isset($t->callStatusColor)) {{$t->callStatusColor}} @endif">@if (isset($t->callStatusName)) {{$t->callStatusName}} @endif</th>
        <th> {{$t->CallDate}}</th>
        <th>{{$t->CallTime}} </th>

        <th> @if (isset($t->IDContact))
          <a href="/contact/{{$t->IDContact}}">{{ $t->FamilyContact.' '.$t->NameContact.' '.$t->SoNameContact}}</a>
          @elseif (isset($t->ClientName))
          <a href="/client/{{$t->ClientId}}"> {{$t->ClientName}}</a>


          @endif

      </tr>


      @endforeach

      </tbody>
    </table>


  </div>
</div>